In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [4]:
df = spark.createDataFrame([
    (0, 'Stefan', 'Schenk'),
    (1, 'Chris', 'Wijnker'),
    (2, 'Tom', 'Kamper'),
    (3, 'Dion', 'Buysman'),
    (4, 'Dave', 'Conijn'),
    (5, 'Dimitri', 'Stathi'),
    (6, 'Mark', 'Breukink'),
], ['id', 'firstname', 'lastname'])

In [5]:
df_houses = spark.createDataFrame([
    (0, 'Enkhuizen'),
    (1, 'Venhuizen'),
    (2, 'Enkhuizen'),
    (3, 'Enkhuizen'),
    (4, 'Zwaag'),
    (5, 'Lutjebroek'),
], ['owner_id', 'city'])

+---+---------+---------+
| id|firstname| lastname|
+---+---------+---------+
|  0|   Stefan|   Schenk|
|  1|    Simon|Goldsmith|
+---+---------+---------+